.box1 {
  width: 50px;
  min-height: 50px;
}
.box2 {
  width: 100px;
  height: 100px;
}
.box3 {
  width: 150px;
  height: 150px;
}
.red {
  background-color: red;
  border: 5px dotted #c73e3e;
}
.green {
  background-color: green;
  border: 5px double #32ab50;
}
.blue {
  background-color: blue;
  border: 5px solid #3a7b9c;
}
.container {
  background-color: #ebb871;
  display: flex;
  flex-direction: row;

  justify-content: flex-end;
  align-items: center;

  width: 150px;
  flex-wrap: wrap;
  flex-wrap: wrap-reverse;
  
}